@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@layer base {
  html {
    font-family: "Dancing Script", cursive, system-ui, sans-serif;
  }
}

body {
  @apply bg-white
}

a:hover {
  @apply text-secondary
}

.animate, a, a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}